
main{
  box-sizing: border-box;
}

body{
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.5;
  background-color: LemonChiffon;
}
.subtitle{
  line-height: 1rem;
}

.subtitle{
  line-height: 1rem;
}

.title {
  background-color: white;
  margin-top: 0;
  padding: 10px;
  text-align: center;
  
}

section {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-left: 5px solid orange;
}
.favourites{
  border-left: 5px solid gold;
}

.subtitle {
  border-left: 3px solid gold;
  border-right: 3px solid gold;
  padding: 5px;
  display: inline;
}
.fav{
  border-color: orange;
}

/* ------- List ------- */

/* Task 7: Last but not least! We want to style our list with our favorite Pokémon. Which selector do we need? And also add values for the padding. */

/* add selector */
 ul{
  list-style: "🧡";
  padding-left: 20px ;
}

/* add selector */
 {
  padding-left: /* add value */ ;
}

/* ------- The End -------- */

.image-fluid {
  width: 100%;
  height: auto;
}

/* Note: After finishing all tasks this class should also work. This means that the image should flexibly adjust its size to the width of the viewport. */
